.wrapper {
  padding: 0em;
}
.inner {
  position: relative;
  max-width: $max-width;
  margin: 0 auto;
  padding: 2em 1em;
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
}
.row70 {
  width: 70%;
  float: left;
  @media #{$medium} {
    width: 100%;
    float: none;
  }
}
.row30 {
  width: 30%;
  float: right;
  text-align: right;
  @media #{$medium} {
    padding-top: 1em;
    width: 100%;
    float: none;
    text-align: left;
  }
}
.row50 {
  background: red;
  padding: 1em;
  width: 49%;
  float: left;
  &:first-of-type {
    margin-right: 1%;
  }
  @media #{$small} {
    float: none;
    width: 100%;
  }
}