.svg-bg {
  transition: all 1s;
  @media #{$medium} {
    width: 300px;
    height: 300px;
  }
  @media #{$small} {
    width: 200px;
    height: 200px;
  }
}

//SVG animation fill colors:
$darkest: #252525;
$dark: #333333;
$median: #454545;
$light: #555555;

//Animation lighten amount:
$percentage : 5%;

//Mixin for the SVG classes to controll animation timing.
@mixin svg-classes($fill, $duration, $animation) {
  fill: $fill;
  animation-duration: $duration;
  animation-name: $animation;
  animation-iteration-count: infinite;
}

.svg-top-1 {
  @include svg-classes($darkest, 20.45s, anim-darkest);
}
.svg-top-2 {
  @include svg-classes($median, 20.4s, anim-median);
}
.svg-top-3 {
  @include svg-classes($dark, 20.45s, anim-dark);
}
.svg-top-4 {
  @include svg-classes($darkest, 20.5s, anim-darkest);
}
.svg-middle-1 {
  @include svg-classes($median, 20.3s, anim-median);
}
.svg-middle-2 {
  @include svg-classes($light, 20.2s, anim-light);
}
.svg-middle-3 {
  @include svg-classes($dark, 20.3s, anim-dark);
}
.svg-bottom-1 {
  @include svg-classes($darkest, 20s, anim-darkest);
}
.svg-bottom-2 {
  @include svg-classes($dark, 20.1s, anim-dark);
}

//Mixin for the different animations.
@mixin svg-animations($color, $name) {
  @keyframes $name {
    0% {
    fill: $color;
    }
    96% {
      fill: $color;
    }
    98% {
      //Percentage variable is set outside of mixin.
      fill: lighten($color, $percentage);
    }
    100% {
      fill: $color;
    }
  }
}

//Keyframes
@include svg-animations($darkest, anim-darkest);
@include svg-animations($dark, anim-dark);
@include svg-animations($median, anim-median);
@include svg-animations($light, anim-light);