h1,h2,h3,h4 {
  margin: 0;
  font-weight: 600;
  @media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dppx){
    font-weight: 400;
  }
}
h1 {
  @include font-size(5);
  @media #{$small} {
    @include font-size(4);
  }
}
h2 {
  @include font-size(3);
  @media #{$small} {
    @include font-size(2.8);
  }
}
h3 {
  @include font-size(2.4);
  line-height: 1.5;
  @media #{$small} {
    @include font-size(2);
  }
}
p {
  margin: 0;
  font-weight: 400;
  line-height: 1.5;
  @media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dppx){
    font-weight: 300;
  }
}
a {
  color: $white;
  font-weight: 600;
  text-decoration: none;
  border-bottom: 1px solid $accent;
  transition: all 0.2s;
  &:hover {
    border-bottom: 1px solid white;
  }
}
.no-js {
  h1 {
    @include font-size(4);
    @media #{$small} {
      @include font-size(3);
    }
  }
  h2 {
    @include font-size(2.8);
    @media #{$small} {
      @include font-size(2.3);
    }
  }
  h3 {
    @include font-size(2.4);
    @media #{$small} {
      @include font-size(2);
    }
  }
  p {
    @include font-size(1.8);
    @media #{$small} {
      @include font-size(1.6);
    }
  }
}