//Grid
$max-width: 800px;

//Colors
$white: #f1f1f1;
$main-bg: #222;
$accent: #FF7400;
$section-bg: #AA3939;
$footer-bg: #AA8439;

//Fonts
$main-font: 'source_sans_pro', sans-serif;

//Font sizes
@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

//Media queries
$large:     "only screen and (max-width: 1024px)";
$medium:    "only screen and (max-width: 768px)";
$small:     "only screen and (max-width: 480px)";


//TODO MOVE!
.accent {
  color: $accent;
}