    <footer class="footer">
      <div class="inner">
        <h3>You can also find me on:</h3>
        <p>
          <a href="https://facebook.com/olofsellgren/" target="_blank">Facebook</a>
          <span class="accent"> // </span>
          <a href="https://twitter.com/olofsellgren/" target="_blank">Twitter</a>
          <span class="accent"> // </span>
          <a href="http://se.linkedin.com/pub/olof-sellgren/63/a47/7aa/" target="_blank">LinkedIn</a>
          <span class="accent"> // </span>
          <a href="http://reddit.com" title="No, no username :)"target="_blank">reddit</a>
          <span class="accent"> // </span>
          <a href="https://bitbucket.org/olofsellgren" target="_blank">BitBucket</a>
          <span class="accent"> // </span>
          <a href="http://instagram.com/olofsellgren" target="_blank">Instagram</a>
        </p>
      </div>
    </footer>
    </div>
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/lib/jquery1.11.1.min.js"><\/script>')</script>
    <script src="js/scripts.min.js"></script> -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-55780123-1','auto');ga('send','pageview');
    </script>
  </body>
</html>
