    <header>
      <div class="inner">
      <div class="row70">
        <h1>Olof Sellgren</h1>
        <p>Developer <span class="accent">//</span> Secret santa</p>
        </div>
        <div class="row30">
          <p><a href="mailto:olofsellgren@gmail.com" target="_blank">olofsellgren@gmail.com</a></p>
          <p><a href="tel:+46737523652">+46-737-52 36 52</a></p>
        </div>
        <div class="clear"></div>
      </div>
    </header>
