    <section class="intro">
      <div class="inner">
        <article class="fade-in">
          <h3>My name is Olof Sellgren. I work as a front end developer at <a href="http://kan.se" target="_blank" rel="noopener noreferrer">KAN</a> in Malmö. I prefer working with a focus on usability and to the point responsive designs.</h3>
        </article>
      </div>
      <div class="clear"></div>
    </section>
