    <section class="projects">
      <div class="inner">
        <h2>Recent projects</h2>
        <article>
        <div class="project">
          <h3><a href="https://strossle.com/" target="_blank">Strossle</a></h3>
          <p>Site for Strossle. Craft.</p>
        </div>
        <div class="project">
          <h3><a href="https://kullander.se/" target="_blank">Kullander</a></h3>
          <p>Site for Kullander. Craft.</p>
        </div>
        <div class="project">
          <h3><a href="http://minrorelse.se/minrorelse" target="_blank">#minrörelse</a></h3>
          <p>A contest and interactive campaign site. Wordpress.</p>
        </div>
        <div class="project">
          <h3><a href="http://expertmaker.se" target="_blank">Expertmaker</a></h3>
          <p>Site for Expertmaker. Craft.</p>
        </div>
        <div class="project">
          <h3><a href="http://bibblansvarar.se" target="_blank">Bibblan Svarar</a></h3>
          <p>Implementation of a responsive redesign. Drupal.</p>
        </div>
        </article>
        <div class="clear"></div>
      </div>
    </section>
