header {
  padding: 0;
  border-bottom: 1px solid lighten($main-bg, 10%);
  .inner {
    padding-top: 1em;
  }
  a {
    font-weight: 300;
    border-bottom: none;
  }
}
//For IE8
.no-svg {
  .png-fallback {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 500px;
    background: url(../img/bg.png) no-repeat;
  }
  .svg-bg {
    display: none;
  }
}