.slide {
  width: 100%;
  position: relative;
}
.circle {
  position: absolute;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: yellow;
}
.from-left {
  left: 0;
 // transform: translateX(-500%);
}
.from-right {
  right: 0;
}
.big-circle {
  display: none;
  background: red;
  border-radius: 50%;

}